*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.slide { display: none }

.active { display: block; }


/* PREV && NEXT BUTTONS */
.btn {
    background-color: rgb(165, 165, 165);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 32px;
    user-select: none;
}

.btn:hover {
    background-color: rgb(182, 182, 182);
}